<div class="container">

    <br>

    <div class="row text-center">

        <div class="col-lg-1"></div>

        <div class="col-lg-10">

            <h1>AP SCRAPER</h1>

        </div>

        <div class="col-lg-1"></div>

    </div>

    <br>

    <div class="row text-center">

        <div class="col-lg-2"></div>

        <div class="col-lg-8">

            {{#each .}}

            {{#if this.headline}}
                <a href={{url}} target="_blank">{{headline}}</a>
                <p>{{desc}}<button type="button" class="btn btn-info" id={{_id}}>Comment</button></p>
                
            {{/if}}
            

            {{/each}}

        </div>

        <div class="col-lg-2"></div>


    </div>

</div>