<div class="container">

    <br>

    <div class="row text-center">

        <div class="col-lg-1"></div>

        <div class="col-lg-10">

            <h1>AP SCRAPER</h1>

        </div>

        <div class="col-lg-1"></div>

    </div>

    <br>

</div>