<div class="container">

    <br>

    <div class="row">

        <div class="col-lg-1"></div>

        <div class="col-lg-10 text-center">

            <h1>MONGOOSE AP SCRAPER</h1>

        </div>

        <div class="col-lg-1"></div>

    </div>


</div>