<div class="container">

    <br>

    <div class="row text-center">

        <div class="col-lg-1"></div>

        <div class="col-lg-10">

            <h1>AP SCRAPER</h1>

        </div>

        <div class="col-lg-1"></div>

    </div>

    <br>

    <div class="row text-center">

        <div class="col-lg-1"></div>

        <div class="col-lg-10">

            <button type="button" class="btn btn-success" id="scrape">SCRAPE</button>

            <button type="button" class="btn btn-info" id="viewAll">VIEW ALL</button>

            <button type="button" class="btn btn-danger" id="clearAll">CLEAR ALL</button>

        </div>

        <div class="col-lg-1"></div>

    </div>

    <br>

    <div class="row text-center">

        <div class="col-lg-1"></div>

        <div class="col-lg-10">

            <p class="text-success" id="mess"></p>

            <p class="text-danger" id="cleared"></p>

            <p>Welcome to the AP Scraper. To get started click on the <strong>SCRAPE</strong> button. The app will then scrape the latest news articles from the AP website and display a list on the next page. You will then be able to directly access the articles or you can simply scroll through the headlines and ledes. You can also add comments to each article.</p> 

            <p>Once you have scraped your articles, they are saved forever. If you're coming back to see your list, click on <strong>VIEW ALL</strong>.</p>
                
            <p>If you want to clear your saved articles, click the <strong>CLEAR ALL</strong> button.</p>

        </div>

        <div class="col-lg-1"></div>

    </div>

</div>